<footer>
    <div class="mt-5 ms-5 me-5 pt-5 pb-3">
        <div class="row">
            <div class="col-3">
                <img class="mb-5" src="assets/img/logo.svg" alt="Logo" style="width: 100px">
                <p class="col-10">No es un servicio, somos todo un equipo detrás.</p>
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <div class="col-3">
                <p>Sitios</p>
                <p class="footerLink">Ofrecer servicios</p>
                <p class="footerLink">Centro de ayuda</p>
                <p class="footerLink">¿Buscas Emprender?</p>
            </div>
            <div class="col-3">
                <p>Legal</p>
                <p class="footerLink">Política de Privacidad</p>
                <p class="footerLink">Términos y Condiciones</p>
            </div>
            <div class="col-3">
                <p>Síguenos!</p>
                <a href="https://github.com/No-Country/c18-48-t-java-angular" target="_blank"><i
                        class="socialMedia fa-brands fa-github fa-3x"></i></a>
                <p>Github</p>
            </div>
        </div>
        <hr>
        <div>
            <p class="mb-0">&copy; Marca registrada 2024 - Domi</p>
        </div>
    </div>
</footer>