<nav class="container">
<nav class="navbar navbar-expand-lg">
    <div class="container navbarStyle">
        <a class="navbar-brand" routerLink="/"><img src="assets/img/logo.svg" alt="Home" width="138px"
                height="46px" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto align-items-center">
                <a class="nav-link linksStyles" routerLink="/professionals">Servicios</a>
                <a class="nav-link linksStyles" routerLink="/login">Iniciar sesión</a>
                <a class="nav-link" routerLink="/registro"><button class="botonPurple navButton">Registrarse</button></a>
            </div>
        </div>
    </div>
</nav>
</nav>
<router-outlet></router-outlet>