<div>
    <div class="">
        <img class="profileImage" src="assets/profile/profileBanner.png" alt="profile banner">
    </div>
    <div class="ms-5 ps-5 py-5">
        <div class="">
            <h1>Juan Perez</h1>
            <div class="row d-flex">
                <p class="col-1">Electricista</p><span class="col-3">Barranquilla, Atlántico, Colombia</span>
            </div>
            <h2>Sobre mí</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit interdum, nisi habitant magnis lacinia litora
                auctor
                vel senectus, class fames eu vestibulum iaculis a nostra. Tellus taciti sed mi tempor vestibulum aptent
                semper proin non eget torquent, auctor himenaeos ut sollicitudin montes ullamcorper accumsan imperdiet
                sapien. Urna dis nibh volutpat fusce pulvinar gravida in neque, sociosqu habitasse blandit aptent
                suscipit
                iaculis ridiculus nascetur etiam, porta nec nullam condimentum ad scelerisque pretium.</p>
        </div>
        <div class="row d-flex">
            <div class="col-2"><button class="botones">Adquirir servicios</button></div>
            <div class="col-1"><button class="botones">Recomendar</button></div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>