<div class="row">
    <div class="col-3 barraLateral">
        <div>
            <img style="width: 106px;" src="assets/img/logo.svg" alt="home">
        </div>
        <div>
            <div>
                <p>inicio</p>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="row ms-auto d-flex justify-content-left">
            <div class="col-2 ">
                <p>Mensajes</p>
            </div>
            <div class="col-2 ">
                <p>Notificaciones</p>
            </div>
            <div class="profileDIV col-2 ">
                foto
            </div>
        </div>
        <div>
            <div>
                <h1>¡Bienvenida, Susana!</h1>
            </div>
            <div>
                <h2>Servicios contratados actualmente</h2>
            </div>
            <div>
                <div class="card">
                    <div><img src="" alt=""></div>
                    <div><p>Javier Gámez</p></div>
                    <div><p>Plomero</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>